:root {
    --check-primary: #fbff00;
  }

  .signup_loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
  }

  .err-mssg{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    text-align: center;
  }
  
  .signup_loader::after, .signup_loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s  0.45s  linear infinite alternate;
  }
  .signup_loader::before {
    left: -20px;
    animation-delay: 0s;
  }
  
  @keyframes animloader {
    0%   { height: 48px} 
    100% { height: 4px}
  }

  .signup-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .2);
  }

  .timeout-err{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    position: absolute;
    left: 0;
    right: 0;
    font-family: 'Times New Roman', Times, serif;
    bottom: 20px;
    font-size: large;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

  }

  #signup-overlay{
    display: none;
  }

/**/
  .page-anim {
    width: 200px;
    height: 150px;
    background: #979794;
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: auto;
    border-radius:8px;
    perspective: 1000px;
  }

  .page-anim:before{
    content: '';
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
    border-radius:8px;
    background: #f5f5f5  no-repeat;
    background-size: 60px 10px;
    background-image: 	linear-gradient(#ddd 100px, transparent 0) ,
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
    
    background-position: 15px 30px , 15px 60px , 15px 90px, 
              105px 30px , 105px 60px , 105px 90px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
  }
  .page-anim:after {
    content: '';
      position: absolute;
      width: calc(50% - 10px);
      right: 10px;
      top: 10px;
      bottom: 10px;
      border-radius: 8px;
      background: #fff no-repeat;
      background-size: 60px 10px;
      background-image: linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0), 
              linear-gradient(#ddd 100px, transparent 0);
      background-position: 50% 30px ,50% 60px , 50%  90px;
      transform: rotateY(0deg );
      transform-origin: left center;
    animation: paging 1s linear infinite;
  }


  @keyframes paging {
    to {
      transform: rotateY( -180deg );
    }
  }
/**/
  

/**/ 
.loader {
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #9dd5ff 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #9dd5ff 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #9dd5ff 100%, transparent 0), linear-gradient(#9dd5ff 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }
  
  .loader::after {
    content: '';  
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-bottom-color: var(--check-primary);
    box-sizing: border-box;
    animation: fadePull 1s linear infinite;
  }
  .loader::before {
    content: '';  
    left: 50%;
    bottom: 15px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 15px;
    height: 15px;
    background: var(--check-primary);
    box-sizing: border-box;
    animation: fadePull 1s linear infinite;
  }
  
  @keyframes fadePull {
    0% {
      transform: translate(-50%, 15px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%, 0px);
      opacity: 1;
    }
    100% {
      transform: translate(-50%, -15px);
      opacity: 0;
    }
  }


/**/

.warning{
    color: red;
}

#active{
    display: flex;
}

#btm{
    bottom: 0;
}

.upload-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
}

.upload-box{
    min-height: 200px;
    width: 90%; 
    color: #9dd5ff;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
}

.validator-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
}

.validator-box{
    min-height: 200px;
    width: 90%; 
    color: #9dd5ff;
    display: block;
    padding: 5px;

    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
}

#validator-box{
    text-align: left;
    padding: 30px 30px 10px 30px;
    font-size: small;
    justify-content: center;
}

.error-overlay{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5);
    z-index: 1000;
}

#error-box{
    text-align: left;
    padding: 30px 30px 10px 30px;
    font-size: small;
    justify-content: center;
}

.error-box{
    min-height: 80px;
    width: 90%; 
    color: #9dd5ff;
    display: block;
    padding: 5px;

    text-align: center;
    border-radius: 5px;
    background-color: #FFF;
}

.editor-counter,.title-counter,.description-counter{
    padding: 10px;
    font-size: x-small;
    text-align: right;
    color: #5b5b5b;
    background-color: #FFF;
}

.title-counter{
    top: 65px;
    right: 5px;
    padding: 0;
    background-color: transparent;
    position: absolute;
}

.description-counter{
    top: 130px;
    right: 5px;
    padding: 0;
    background-color: transparent;
    position: absolute;
}

#upload-box{
    display: block;
}

#visible-btm{
    margin-bottom: 0;

}


.thumbnail_repo{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, .5);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
}

.thumbnail_repo #repo{
    height: fit-content;
    z-index: 2;
}


#inactive{
    display: none;
}

.mssg{
    color: red;
    margin: -15px 0 10px 0;
    padding: 0;
    font-size: x-small;
    text-transform: capitalize;
    display: block;
    position: relative;
}

ul{
    list-style-type: none;
    background-color: transparent;
    position: absolute;
    padding: 0;
    margin: 0;
    bottom: 0.1px;
    white-space: nowrap;
}
li{
    float: left;
    margin: 0 7px 0 7px;
    font-size: x-small;
}

button{
    outline: none;
    border: none;
    padding: 5px 10px 5px 10px;
    border-radius: 2px;
}

.pop-up-overlay{
    height: 100vh;
    width: 100%;
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.hint{
    height: fit-content;
    width: 90%;
    margin: auto;
    font-size: large;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.pop-up{
    height: 200px;
    width: 250px;
    z-index: 1;
    position: fixed;
    left: 0;
    right: 0;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    background-color: #fff;
}

#link{
    height: 40px;
    width: 90%;
    display: table;
    margin: 0 auto;
    outline: none;
    color: blue;
    margin-bottom: 15px;
    margin-top: 15px;
}

#link:focus{
    border: 1px solid blue;
}

.btn-cnt{
    height: 50px;
    width: 90%;
    margin: auto;
    
}

.btn-cnt button{
    height: 40px;
    width: 45%;
    border: 1px solid #ffd;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    font-weight: 500;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    *{
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
    
    .author-header{
        
        width: 100%;
        display: block;
        position: sticky;
        top: 0;
        z-index: 1000;
        padding: 0px 0px 0px 0px;
        background-color: rgb(200, 0, 0);
    }

    .author-logo, .author-navigation-back{
        height: 40px;
        width: 80px;
        font-size: x-small;
        padding: 10px;
        float: left;
        cursor: pointer;
        display: none;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
    }


    .author-header-menus{
        height: 40px;
        width: fit-content;
        float: right;
        padding: 0;
    }

    .author-header-menus div{
        height: 100%;
        width: 60px;
        cursor: pointer;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .author-header-banner{
        height: calc(100% - 40px);
        width: 100%;
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px 9px 0px 9px;
        background-color: #fff;
        color: rgb(177, 31, 31);
    }

    .author-banner{
        height: 100%;
        width: 100%;
        background-color: #5b5b5b;
        border-radius: 5px;
    }

    .author-dashboard{
        height: calc(100% - 300px);
        width: 100%;
        background-color: #fff;
        padding: 5px;
        border: none;
    }

    .author-media-menu{
        height: fit-content;
        width: 80px;
        z-index: 1000;
        position: fixed;
        bottom: 10px;
        right: 10px;

    }

    .author-media-menu div{
        height: 50px;
        width: 50px;
        padding: 10px;
        margin: 15px 0 15px 0;
        cursor: pointer;
        background-color: #fff;
        border-radius: 50%;
        
    }

    .card{
        border: none;
        width: 100%;
    }

    .card:hover{
        background-color: #f8f8f8;
    }


    /*Noticeboard*/
    .author-noticeboard{
        height: fit-content;
        width: 100%;
        margin: 0 0 0 0;
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        border: none;
    }


    .author-library{
        height: calc(100vh - 150px);
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #ffffff;
        padding: 5px;
        border: none;
    }

    .library-analytics{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px;
        height: 50px;
        width: 100%;
        color: #fff;
        background-color: rgb(200, 0, 0);
    }

    .library-analytics div{
        position: relative;
        float: left;
        width: 25%;
        height: 100%;
        padding: 0;
        display: flex;
        font-weight: l;
        font-size: small;
        align-items: center;
        justify-content: center;
        
    }

    .author-inbox{
        height: fit-content;
        width: 100%;
        margin: 0 0 0 0;
        background-color: #fff;
        padding: 5px 10px 5px 10px;
        border: none;
    }


    .author-editor{
        height: calc(100vh - 120px);
        
        width: 100%;
        padding: 10px;

    }

    .author-editor-title{
        padding: 10px;
        width: 100%;
        height: 80px;
        font-size: large;
        font-weight: bold;
        outline: none;
        border: none;
        background-color: #f6f6f6;
    }

    .tools-cnt{
        height: 40px;
        width: 100%;
        position: relative;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 10px 0;
        background-color: rgb(0, 255, 68);
    }

    .tools-cnt div{
        height: fit-content;
        padding: 15px;
        position: relative;
        padding: 5px;
        margin: 0 1.5px 0 1.5px;
        background-color: #ffffff;
    }

    .tools-cnt div:hover{
        background-color: #f6f6f6;
    }

    .editor{
        height: calc(100% - 140px);
        background-color: #f8f8f8;
        width: 100%;
        padding: 5px;
        overflow: auto;
        outline: none;
    }

    .author-checkup-cnt-overlay{
        height: 100%;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;

        background-color: rgb(0, 0, 0);
        background-color: rgb(0, 0, 0, .5);
    }

    .author-checkup-cnt{
        height: 85vh;
        background-color: #fff;
        width: 100%;
        padding: 15px;
        outline: none;
        position: absolute;
        bottom: -100%;
        transition: 2s;
    }

    .author-create-next-img{
        transform: rotate(0deg);
        transition: 2;
    }

    #author-create-next-img{
        transform: rotate(180deg);
        transition: 2;
    }

    .author-checkup-thumbnail{
        position: relative;
        height: 250px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        background-color: #f5f5f5;
        margin: auto;
        margin-bottom: 30px;
    }

    .author-checkup-description{
        height: 150px;
        width: 100%;
        background-color: #ffffff;
        margin: 0 0 20px 0;
        padding: 10px;
        outline: none;
    }

    .author-checkup-btns{
        height: 100px;
        width: 100%;
        background-color: #ffffff;
        outline: none;
    }

    .remove {
        position: absolute;
        top: 10px;
        right: 10px;
        height: 40px;
        padding-top: 2px;
        width: 40px;
        cursor: pointer;
        background-color: red;
        color: #fff;
        font-size: large;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
        align-items: center;
        border-radius: 2.5px;
        justify-content: center;
    }

    .author-checkup-btns button{
        height: 50px;
        width: 100%;
        background-color: blue;
        padding: 10px;
        color: #fff;
        font-weight: bold;
        outline: none;
        border-radius: 5px;
    }

    .author-signup-step-hint{
        position: absolute;
        top: 65px;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .author-signup-step-hint ul{
        height: 100%;
    }

    .author-signup-step-hint ul li{
        border: 1px solid #000;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input,select{
        height: 50px;
        width: 250px;
        padding: 0 10px 0 10px;
        display: table;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .bio{
        height: 120px;
        width: 280px;
        padding: 10px;
    }

    .img-frame{
        height: 120px;
        width: 280px;

    }

    .img-cnt{
        height: 100%;
        width: 40%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px dashed #000;
        float: left;
    }

    .img-info{ 
        height: 100%;
        width: 60%;
        float: right;
        padding: 10px;
        text-align: right; 
    }

    .img-info ul{
        position: relative;
    }

    .img-info ul li{
        position: relative;
        text-align: right;
        float: left;
        margin: 8px 0 8px 0;
    }

    .author-signup{
        height: calc(100vh - 120px);
        width: 100%;
        position: relative;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .form_one, .form_two, .form_three, .form_four, .form_five, .form_six, .form_seven{
        min-height: 180px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .btns{
        height: 50px;
        width: 100%;
        display: block;
        margin: 50px 0 0 0;
        background-color: #ffffff;
    }

    


    .btns button{
        height: 50px;
        width: 40%;
        color: #ffffff;
        border-radius: 5px;
    }

    .author-profile{
        height: calc(100vh - 50px);
        width: 100%;
        color: #fff;
        padding: 2.5px;
        overflow: hidden;
        margin: 2.5px 0 0 0;
    }

    .author-photo{
        padding: 0 0 0 10px;

    }

    .author-profile-other-info{
        height: 120px;
        text-align: left;
        color: #fff;
        padding: 0 0 0 30px;
        width: calc(100% - 120px);
    }

    .author-profile-basic-info-cnt{
        height: 150px;
        width: 98%;
        margin: auto;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .author-payments-cnt{
        height: calc(100vh - 50px);
        width: 100%;
        color: #fff;
        padding: 7px;
        overflow: hidden;
        margin: 2.5px 0 0 0;
    }

    .author-payment-setup{
        height: 150px;
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 5px;
        padding: 10px;
        z-index: 1000;
        border-radius: 5px;
        background-color: rgb(83, 83, 255);
    }

    .author-payment-history{
        height: calc(100vh - 300px);
        width: 100%;
        padding: 0;
        overflow: auto;
    }
    
}

@media screen and (min-width: px) {
    *{
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }
}


@media screen and (min-width: 1051px) {
    *{
        box-sizing: border-box;
    }

    html,body{
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    /*Header*/
    .author-header{
        height: 250px;
        width: 100%;
        border-bottom: 1px solid #ededed;
        padding: 10px 10px 10px 10px;
        background-color: rgb(255, 255, 255);
    }

    .author-logo, .author-navigation-back{
        height: 60px;
        width: fit-content;
        padding: 10px;
        float: left;
        display: none;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        background-color: rgb(255, 255, 255);
    }

    .author-navigation-back{display: none; height: 45px;}

    .author-header-menus{
        height: 50px;
        width: fit-content;
        float: right;
        padding: 0;
        background-color: rgb(255, 255, 255);
    }

    .author-header-menus div{
        height: 100%;
        width: 80px;
        cursor: pointer;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    /*Dashboard*/
    .author-dashboard{
        height: calc(100% - 300px);
        width: 100%;
        background-color: #fff;
        padding: 100px;
        border: none;
    }

    .author-media-menu{
        height: fit-content;
        width: 80px;
        position: fixed;
        bottom: 30px;
        z-index: 1;
        right: 10px;

    }

    .author-media-menu div{
        height: 50px;
        width: 50px;
        padding: 10px;
        background-color: #fff;
        margin: 15px 0 15px 0;
        cursor: pointer;
        border-radius: 50%;
        
    }

    .card{
        border: none;
        width: 100%;
    }

    .card:hover{
        background-color: #f8f8f8;
    }


    /*Noticeboard*/
    .author-noticeboard{
        height: fit-content;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        border: none;
    }


    .author-library{
        height: calc(100vh - 100px);
        width: 100%;
        overflow: auto;
        background-color: #ffffff;
        padding: 10px;
        border: none;
    }

    .library-analytics{
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 5px;
        height: 50px;
        width: 100%;
    }

    .library-analytics div{
        position: relative;
        float: left;
        width: 25%;
        height: 100%;
        padding: 0;
        display: flex;
        font-size: medium;
        align-items: center;
        justify-content: center;
        
    }

    .author-inbox{
        height: fit-content;
        width: 100%;
        background-color: #ffffff;
        padding: 10px;
        border: none;
    }
}