.floating-cnt{
    height: fit-content;
    width: 180px;
    padding: 10px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
    border-radius: 1.5px;
}

.floating-cnt ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: left;

}

.floating-cnt ul li{
    height: 30px;
    flex-shrink: 0;
    width: 100%;
    text-align: left;
    margin: 5px 0px;
    padding: 8px;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: left;
}

.floating-cnt ul li:hover{
    width: 100%;
    background-color: rgb(255, 68, 0);
    background-color: rgb(255, 68, 0, .1);
    color: #000;
    border-radius: 7px;
    /* border-bottom: 1px solid orangered; */
    cursor: pointer;
}